{% extends 'User/Head.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>change password</title>
</head>

<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table align="center" border="2">
            <tr>
                <td> Old password</td>
                <td><input type="password"  name="txt_pwd1"/> </td>
            </tr>
            <tr>
                <td> change password</td>
                <td><input type="password"  name="txt_pwd2"/> </td>
            </tr>
            <tr>
                <td>re_type   password</td>
                <td><input type="password"  name="txt_pwd3"/> </td>
            </tr>
    
            
            <tr>
                <td colspan="2" align="center">
                    <input align="center" type="submit" name="btn" value="Change password" />
                    <input align="center" type="submit" name="btn2" value="Cancel" />
                </td>
            </tr>
        </table>
    </form>
    {% if msg %}
    <script>
        alert("{{msg}}")
        window.location="{% url 'User:Changepassword' %}"
    </script>
    {% endif %}
</body>
</html>
{% endblock content %}
